.root{
    -fx-background-image:url('file:C:/Users/PC/Downloads/back.png');
    -fx-background-repeat: no-repeat; 
  -fx-text-fill: #ffffff;
-fx-background-position: center center;
}

.label{
     -fx-text-fill: #ffffff; 
}
.button
{
-fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-padding: 10,10,10,10;
}
.button:hover
{
-fx-background-color : #DD511C ;
-fx-text-fill:  #FFF;
}
.button:pressed
{
-fx-background-color : #DD511C ;
-fx-text-fill: #FFF;
}

.button2
{
-fx-background-color :  #DD511C;
-fx-border-color: #FFF;
-fx-text-fill:  #FFF;
}
.button2:hover
{
-fx-background-color : #0C3988 ;
-fx-text-fill:   #FFF;
}
.button2:pressed
{
-fx-background-color : #0C3400 ;
-fx-text-fill: #FFF;
}


.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #DD511C;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
  -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  #DD511C;
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;
 
 }
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #696969,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #DD511C,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}